
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Varela+Round&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
      background-color: #ffb4797a;

  }
  .pageWrapper {
    padding: 20px 0;
    margin: 20px;
  }

  .title {
    font-size: 70px;
    text-align: center;
    margin-top: 10px;
    color: #87b487;
  }
  
  .gameWrapper {
    max-width: 100%; 
    width: 80%;
    text-align: center;
    margin: 20px auto;
    padding: 0 10px; 
    box-sizing: border-box;
    display: none;
  }
  
  .scores {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  
  .board {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      max-width: 50%; 
      width: 50%; 
      aspect-ratio: 1 / 1;
      margin: 0 auto;
    }
    
    .square {
        background-color: lavender;
        border: 1px solid black;
        border-radius: 10px;
        display: grid;
        place-items: center;
        font-size: 10vw; 
        font-family: 'Varela Round', sans-serif;
        min-width: 56px;
        min-height: 56px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        margin: 4px;
    }
    .square:hover {
        background-color: #c4c4f9;
    }

    .reset {
      margin-top: 10px;
      border-radius: 10px;
      border: 1px solid #a4bde9b5;
      font-size: 18px;
      cursor: pointer;
      background-color: #c4e6f1;
      transition: background-color 0.3s ease;
    }
    .reset:hover {
        background-color: #9ae2fa;
    }
    .selection{
        text-align: center;
        color: #ac8aa9;

    }
    .token{
        display: inline-block;
        font-size: 40px;
        margin: 0 10px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 10px;
        width: 60px;
        max-width: 60px;
        transition: background-color 0.3s ease;
    }
    .token:hover {
        background-color: #d496667a;
    }